{% set primary_color = theme.global_colors.accent_color_1.color %}
{% set text_color = theme.global_colors.accent_color_2.color %}

  {% require_css %}
    <style>
    .team-module h2 {
      color: {{ primary_color }}
    }
    .card__text {
      color: {{ text_color }}
    }
    </style>
{% end_require_css %}
<div class="team-module">
  <h2>Dragon ball Team</h2>
  <div class="team-cards columns">
    {% for item in module.field_group %}
    <div class="team-column">
      {% if item.image_field.src %} {% set sizeAttrs = 'width="{{
      item.image_field.width|escape_attr }}" height="{{
      item.image_field.height|escape_attr }}"' %} {% if
      item.image_field.size_type == 'auto' %} {% set sizeAttrs = 'width="{{
      item.image_field.width|escape_attr }}" height="{{
      item.image_field.height|escape_attr }}" style="max-width: 100%; height:
      auto;"' %} {% elif item.image_field.size_type == 'auto_custom_max' %} {%
      set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}"
      height="{{ item.image_field.max_height|escape_attr }}" style="max-width:
      100%; height: auto;"' %} {% endif %} {% set loadingAttr =
      item.image_field.loading != 'disabled' ? 'loading="{{
      item.image_field.loading|escape_attr }}"' : '' %}
      <img
        src="{{ item.image_field.src|escape_url }}"
        alt="{{ item.image_field.alt|escape_attr }}"
        {{
        loadingAttr
        }}
        {{
        sizeAttrs
        }}
      />
      {% endif %}
      <div class="card__text">
        {% inline_text field="text_field" value="{{ item.text_field }}" %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
