{% import './tools/_macros.css' %}

{## Table of contents

  1. Variables
    1a. Containers
    1b. Colors
    1c. Typography
    1d. Buttons
    1e. Forms
    1f. Tables
    1g. Website header
    1h. Website footer
  2. Containers / Grid / DND areas
  3. Typography
  4. Buttons
  5. Forms
  6. Tables
  7. Website header
  8. Website footer
  9. Blog
  10. System pages
  11. Modules

##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}


{% set header_bg_color =color(theme.header.background.color) %}
{% set global_font = theme.global_fonts.primary %}


{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

body {
  font-family: {{ global_font.font }};
}

.header {
  background-color: {{ header_bg_color }};
}

.footer {
  background-color: {{ header_bg_color }};
}